@mixin flex
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexCol
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


@mixin flexRowCenterAll 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
  justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
  align-items: center;
}


@mixin flexColCenterAll 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
  justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
  align-items: center;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
  flex-direction: column
}


@mixin justifyFlexStart {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin justifyFlexCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justifyFlexEnd {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin alignFlexStart {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin alignFlexCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin alignFlexEnd {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}


// Box Shadow Styles

@mixin boxShadowLight {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin boxShadowDark {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}